# MongoDB Atlas Connection Configuration
MONGODB_PASSWORD=your_mongodb_password
# Alternatively set full URI:
# MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?appName=Cluster0

MONGODB_DB_NAME=ecommerce_catalog
MONGODB_COLLECTION_NAME=products
MONGODB_VECTOR_INDEX_NAME=vector_index

# Groq LLM API Key
GROQ_API_KEY=your_groq_api_key

# Razorpay Standard Checkout Credentials
RAZORPAY_KEY_ID=rzp_test_TTzKcJsZipGToW
RAZORPAY_KEY_SECRET=uwDxOhS6d4iMa5KYOMspEZUv
